In [3]:
import pandas as pd

In [5]:
#leer archivo en formato de excel
ventas = pd.read_excel("example_ventas.xlsx")

c:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [6]:
ventas

        Fecha   Region      Producto Vendedor  Ventas
0  2024-02-16    Oeste      Sistemas    Kevin   32855
1  2024-02-05  Central      Sistemas    Karen   30633
2  2024-02-17    Oeste      Sistemas     Sara   23151
3  2024-02-04  Central      Sistemas    David   20098
4  2024-02-10     Este      Sistemas      Ana   13531
5  2024-02-11     Este      Sistemas    Lucas   13374
6  2024-02-03  Central  Dispositivos    Karen   12948
7  2024-02-02  Central  Dispositivos    David   11420
8  2024-02-14    Oeste  Dispositivos    Kevin   10711
9  2024-02-08     Este  Dispositivos      Ana   10348
10 2024-02-06     Este    Accesorios      Ana    9323
11 2024-02-09     Este  Dispositivos    Lucas    9312
12 2024-02-15    Oeste  Dispositivos     Sara    8780
13 2024-01-31  Central    Accesorios    David    8287
14 2024-02-07     Este    Accesorios    Lucas    7667
15 2024-02-01  Central    Accesorios    Karen    6909
16 2024-02-13    Oeste    Accesorios     Sara    5442
17 2024-02-12    Oeste    Accesorios    Kevin    4744
18        NaT      NaN           NaN    Total  239533

In [7]:
print(ventas.head(5))

       Fecha   Region  Producto Vendedor  Ventas
0 2024-02-16    Oeste  Sistemas    Kevin   32855
1 2024-02-05  Central  Sistemas    Karen   30633
2 2024-02-17    Oeste  Sistemas     Sara   23151
3 2024-02-04  Central  Sistemas    David   20098
4 2024-02-10     Este  Sistemas      Ana   13531

In [9]:
# ventas por region
ventas_región = ventas.groupby('Region')['Ventas'].sum()
print(ventas_región)

Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64

In [11]:
#Ventas realizadas por David
ventas_david = ventas[ventas['Vendedor'] == 'David']
print(ventas_david)

        Fecha   Region      Producto Vendedor  Ventas
3  2024-02-04  Central      Sistemas    David   20098
7  2024-02-02  Central  Dispositivos    David   11420
13 2024-01-31  Central    Accesorios    David    8287

In [12]:
# ventas mayores a 10000 por region, si cambias el ascending dependiendo el true or false puedes ponerlo de menor a mayor y viceversa
ventas_filtradas = ventas[ventas['Ventas'] > 10000].sort_values(by = 'Ventas', ascending = False)
print(ventas_filtradas)

        Fecha   Region      Producto Vendedor  Ventas
18        NaT      NaN           NaN    Total  239533
0  2024-02-16    Oeste      Sistemas    Kevin   32855
1  2024-02-05  Central      Sistemas    Karen   30633
2  2024-02-17    Oeste      Sistemas     Sara   23151
3  2024-02-04  Central      Sistemas    David   20098
4  2024-02-10     Este      Sistemas      Ana   13531
5  2024-02-11     Este      Sistemas    Lucas   13374
6  2024-02-03  Central  Dispositivos    Karen   12948
7  2024-02-02  Central  Dispositivos    David   11420
8  2024-02-14    Oeste  Dispositivos    Kevin   10711
9  2024-02-08     Este  Dispositivos      Ana   10348

In [13]:
# eliminar columna vendedor
df_eliminado = ventas.drop(columns='Vendedor')
print(df_eliminado)

        Fecha   Region      Producto  Ventas
0  2024-02-16    Oeste      Sistemas   32855
1  2024-02-05  Central      Sistemas   30633
2  2024-02-17    Oeste      Sistemas   23151
3  2024-02-04  Central      Sistemas   20098
4  2024-02-10     Este      Sistemas   13531
5  2024-02-11     Este      Sistemas   13374
6  2024-02-03  Central  Dispositivos   12948
7  2024-02-02  Central  Dispositivos   11420
8  2024-02-14    Oeste  Dispositivos   10711
9  2024-02-08     Este  Dispositivos   10348
10 2024-02-06     Este    Accesorios    9323
11 2024-02-09     Este  Dispositivos    9312
12 2024-02-15    Oeste  Dispositivos    8780
13 2024-01-31  Central    Accesorios    8287
14 2024-02-07     Este    Accesorios    7667
15 2024-02-01  Central    Accesorios    6909
16 2024-02-13    Oeste    Accesorios    5442
17 2024-02-12    Oeste    Accesorios    4744
18        NaT      NaN           NaN  239533